In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_df = pd.DataFrame(school_data_complete)
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
# Check data types
school_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [4]:
# Count to check any missing data
school_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

 * Calculate the total number of schools

 * Calculate the total number of students

 * Calculate the total budget

 * Calculate the average math score 

 * Calculate the average reading score

 * Calculate the percentage of students with a passing math score (70 or greater)

 * Calculate the percentage of students with a passing reading score (70 or greater)

 * Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

 * Optional: give the displayed data cleaner formatting

In [5]:
school_count = len(school_data_df["school_name"].unique())

In [6]:
student_count = school_data_df["Student ID"].count()

In [7]:
school_budget = school_data_df["budget"].sum()

In [8]:
student_budget = school_budget / float(student_count)

In [9]:
avg_math = school_data_df["math_score"].mean()
avg_read = school_data_df["reading_score"].mean()

In [10]:
math_70 = school_data_df[(school_data_df["math_score"]>=70)].count()["student_name"]

In [11]:
read_70 = school_data_df[(school_data_df["reading_score"]>=70)].count()["student_name"]

In [12]:
both_70 = school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].count()["student_name"]
overall = math_70 / float(student_count) * 100
overall

74.9808526933878

In [13]:
pass_read = read_70 / float(student_count) *100
pass_math = math_70 / float(student_count) * 100
pass_both = both_70 / float(student_count) * 100                  
district_df = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Average Math": [avg_math],
                               "Average Reading": [avg_read],
                              "Math 70": [math_70],
                              "Read 70": [read_70],
                              "Passing Reading Percentage": [pass_read],
                              "Passing Math Percentage": [pass_math],
                              "Passing Both Percentage": [pass_both]})
district_df

,Total Schools,Total Students,Average Math,Average Reading,Math 70,Read 70,Passing Reading Percentage,Passing Math Percentage,Passing Both Percentage
0,15,39170,78.985371,81.87784,29370,33610,85.805463,74.980853,65.172326

## School Summary

 * Create an overview table that summarizes key metrics about each school, including:
  * School Name
   * School Type
   * Total Students
   * Total School Budget
   * Per Student Budget
   * Average Math Score
   * Average Reading Score
   * % Passing Math
   * % Passing Reading
   * % Overall Passing (The percentage of students that passed math **and** reading.)
  
 * Create a dataframe to hold the above results

In [14]:
school_name_df = school_data_df.set_index("school_name")
school_name_df.head()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635

In [15]:
group_school_name = school_name_df.groupby(["school_name", "type"])
group_school_name.count()

,,Student ID,student_name,gender,grade,reading_score,math_score,School ID,size,budget
school_name,type,,,,,,,,,
Bailey High School,District,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,Charter,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,District,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,District,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,Charter,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,District,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,Charter,427,427,427,427,427,427,427,427,427
Huang High School,District,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,District,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,Charter,962,962,962,962,962,962,962,962,962
Rodriguez High School,District,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,Charter,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,Charter,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,Charter,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,Charter,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [17]:
#Total Students per School
tot_students_groupby_school = school_data_df.groupby("school_name")["student_name"].count()
tot_students_groupby_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [18]:
#Total School Budget
tot_budget_groupby_school = school_data_df.groupby("school_name")["budget"].sum()
tot_budget_groupby_school

school_name
Bailey High School       15549641728
Cabrera High School       2009159448
Figueroa High School      5557128039
Ford High School          4831365924
Griffin High School       1346890000
Hernandez High School    14007062700
Holden High School         105933149
Huang High School         5573322295
Johnson High School      14733628650
Pena High School           563595396
Rodriguez High School    10186904637
Shelton High School       1860672600
Thomas High School        1705517550
Wilson High School        3012587442
Wright High School        1888920000
Name: budget, dtype: int64

In [21]:
#Per Student Budget
tot_student_budget_groupby_school = school_data_df.groupby("school_name")["budget"].sum() / school_data_df.groupby("school_name")["School ID"].count()
tot_student_budget_groupby_school

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [22]:
#Average Math Score
avg_school_math_groupby = school_data_df.groupby("school_name")["math_score"].mean()
avg_school_math_groupby

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [23]:
#Average Reading Score
avg_school_read_groupby = school_data_df.groupby("school_name")["reading_score"].mean()
avg_school_read_groupby

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [25]:
#% Passing Math
#math_70 = school_data_df[(school_data_df["math_score"]>=70)].count()["student_name"]
pass_school_math_groupby = school_data_df[(school_data_df.groupby("school_name")["math_score"]>=70.count()["student_name"]
pass_school_math_groupby

SyntaxError: invalid syntax (3561971850.py, line 3)

In [ ]:
#% Passing Reading

In [ ]:
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Create a dataframe to hold the above results

# Top Performing Schools (By % Overall Passing)
    * Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)
    * Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade 
* Perform the same operations as above for reading scores

In [ ]:
## Scores by School Spending

In [ ]:
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
## Scores by School Size
* Perform the same operations as above, based on school size.

In [ ]:
## Scores by School Type
* Perform the same operations as above, based on school type