In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [3]:
#Create Data Frame
school_data_df = pd.DataFrame(school_data_complete)
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

# District Summary

 * Calculate the total number of schools

 * Calculate the total number of students

 * Calculate the total budget

 * Calculate the average math score 

 * Calculate the average reading score

 * Calculate the percentage of students with a passing math score (70 or greater)

 * Calculate the percentage of students with a passing reading score (70 or greater)

 * Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

 * Optional: give the displayed data cleaner formatting

In [4]:
#Calculate the total number of schools
school_count = len(school_data_df["school_name"].unique())
school_count

15

In [5]:
#Calculate the total number of students
student_count = len(school_data_df["Student ID"].unique())
student_count

39170

In [6]:
#Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [7]:
#Calculate the average math score
avg_math = school_data_df["math_score"].mean()
avg_math

78.98537145774827

In [8]:
#Calculate the average reading score
avg_read = school_data_df["reading_score"].mean()
avg_read

81.87784018381414

In [9]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = (school_data_df[(school_data_df["math_score"]>=70)].count()[0]/school_data_df.shape[0])*100
math_pass

74.9808526933878

In [10]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = (school_data_df[(school_data_df["reading_score"]>=70)].count()[0]/school_data_df.shape[0])*100
read_pass

85.80546336482001

In [11]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_70 = (school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].count()[0]/school_data_df.shape[0])*100
both_70

65.17232575950983

In [12]:
#Create a dataframe to hold the above results
district_df = pd.DataFrame(
    {
        'School Count': [school_count],
        'Student Count':[student_count],
        'Total Budget':[total_budget],
        'Average Math Score':[avg_math],
        'Average Reading Score':[avg_read],
        'Math Pass': [math_pass],
        'Read Pass': [read_pass],
        'Math and Reading Pass':[both_70]
    }
)

In [13]:
#Format and display new dataframe
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].map("{:,.2f}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:,.2f}".format)
district_df["Math Pass"] = district_df["Math Pass"].map("{:,.2f}%".format)
district_df["Read Pass"] = district_df["Read Pass"].map("{:,.2f}%".format)
district_df["Math and Reading Pass"] = district_df["Math and Reading Pass"].map("{:,.2f}%".format)
district_df.index.name = None
district_df

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,Math Pass,Read Pass,Math and Reading Pass
0,15,39170,"$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

 * Create an overview table that summarizes key metrics about each school, including:
  * School Name
   * School Type
   * Total Students
   * Total School Budget
   * Per Student Budget
   * Average Math Score
   * Average Reading Score
   * % Passing Math
   * % Passing Reading
   * % Overall Passing (The percentage of students that passed math **and** reading.)
  
 * Create a dataframe to hold the above results

In [14]:
#School name
school_name = school_data_df.set_index("school_name")
school_name.index.name = None
school_name

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
Huang High School,0,Paul Bradley,M,9th,66,79,0,District,2917,1910635
Huang High School,1,Victor Smith,M,12th,94,61,0,District,2917,1910635
Huang High School,2,Kevin Rodriguez,M,12th,90,60,0,District,2917,1910635
Huang High School,3,Dr. Richard Scott,M,12th,67,58,0,District,2917,1910635
Huang High School,4,Bonnie Ray,F,9th,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...
Thomas High School,39165,Donna Howard,F,12th,99,90,14,Charter,1635,1043130
Thomas High School,39166,Dawn Bell,F,10th,95,70,14,Charter,1635,1043130
Thomas High School,39167,Rebecca Tanner,F,9th,73,84,14,Charter,1635,1043130
Thomas High School,39168,Desiree Kidd,F,10th,99,90,14,Charter,1635,1043130
Thomas High School,39169,Carolyn Jackson,F,11th,95,75,14,Charter,1635,1043130

In [15]:
#School Type
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
#Total Students per School
tot_students_school = school_data_df["school_name"].value_counts()
tot_students_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
#Total School Budget
tot_budget_school = school_data.groupby("school_name").sum()["budget"]
tot_budget_school

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [18]:
#Per Student Budget
per_student_budget = tot_budget_school/tot_students_school
per_student_budget

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [19]:
#Average Math Score
avg_school_math = school_data_df.groupby("school_name")["math_score"].mean()
avg_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
# Calculate the number of schools with math scores of 70 or higher
math_pass_df = school_data_df.loc[school_data_df["math_score"]>=70]
math_pass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [21]:
#Groupby School Name for Math Pass
math_pass_2 = math_pass_df.groupby("school_name")["math_score"].count()
math_pass_2

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: math_score, dtype: int64

In [22]:
#School Math Pass Rates
math_pass_3 = math_pass_2/tot_students_school * 100
math_pass_3

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [23]:
#Average Reading Score
avg_school_read = school_data_df.groupby("school_name")["reading_score"].mean()
avg_school_read

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [24]:
#% Passing Reading
read_pass_df = school_data_df.loc[school_data_df["reading_score"]>=70]
read_pass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [25]:
#Groupby School Name for Reading Pass
read_pass_2 = read_pass_df.groupby("school_name")["reading_score"].count()
read_pass_2

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: reading_score, dtype: int64

In [26]:
#School Reading Pass Rates
read_pass_3 = read_pass_2/tot_students_school * 100
read_pass_3

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [27]:
#% Overall Passing (The percentage of students that passed math and reading.)
# Calculate the number of schools with math and reading scores of 70 or higher
both_pass_df = school_data_df.loc[(school_data_df["math_score"]>=70) & (school_data_df["reading_score"]>=70)]
both_pass_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [28]:
#Groupby School Name for Reading Pass
both_pass_2 = both_pass_df.groupby("school_name")["reading_score"].count()
both_pass_2

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: reading_score, dtype: int64

In [29]:
#School Math & Reading Pass Rates
both_pass_3 = both_pass_2/tot_students_school * 100
both_pass_3

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [30]:
#Create a dataframe to hold the above results
school_summary_df = pd.DataFrame(
    {
        'School Type': school_types,
        'Total Students': tot_students_school,
        'Total School Budget':tot_budget_school,
        'Per Student Budget':per_student_budget,
        'Average Math Score':avg_school_math,
        'Average Reading Score':avg_school_read,
        'Passing Math':math_pass_3,
        'Passing Reading':read_pass_3,
        'Overall Passing':both_pass_3
    }
)

In [31]:
school_summary_df["Total Students"]

Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: Total Students, dtype: int64

In [32]:
#Format and display new dataframe
school_summary_df["Total School Budget"] = school_summary_df["Total School Budget"].map("${:,.2f}".format)
school_summary_df["Per Student Budget"] = school_summary_df["Per Student Budget"]
school_summary_df["Average Math Score"] = school_summary_df["Average Math Score"].map("{:,.2f}".format)
school_summary_df["Average Reading Score"] = school_summary_df["Average Reading Score"].map("{:,.2f}".format)
school_summary_df["Passing Math"] = school_summary_df["Passing Math"].map("{:,.2f}%".format)
school_summary_df["Passing Reading"] = school_summary_df["Passing Reading"].map("{:,.2f}%".format)
school_summary_df["Overall Passing"] = school_summary_df["Overall Passing"].map("{:,.2f}%".format)
school_summary_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Bailey High School,District,4976,"$3,124,928.00",628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,2739,"$1,763,916.00",644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,1761,"$1,056,600.00",600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,1800,"$1,049,400.00",583.0,83.68,83.95,93.33%,96.61%,90.33%

# Top Performing Schools (By % Overall Passing)
    * Sort and display the top five performing schools by % overall passing.

In [33]:
#Sort and display the top five performing schools by % overall passing.
top_five = school_summary_df.sort_values('Overall Passing',ascending=False).head(5)
top_five

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Cabrera High School,Charter,1858,"$1,081,356.00",582.0,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,1635,"$1,043,130.00",638.0,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,1468,"$917,500.00",625.0,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,2283,"$1,319,574.00",578.0,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858.00",609.0,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)
    * Sort and display the five worst-performing schools by % overall passing.

In [34]:
#Sort and display the five worst-performing schools by % overall passing.
bottom_five = school_summary_df.sort_values('Overall Passing',ascending=True).head(5)
bottom_five

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Rodriguez High School,District,3999,"$2,547,363.00",637.0,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,2949,"$1,884,411.00",639.0,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,2917,"$1,910,635.00",655.0,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,4635,"$3,022,020.00",652.0,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,4761,"$3,094,650.00",650.0,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [35]:
# Create a pandas series for each grade. Hint: use a conditional statement.
grade_9 = school_data_df[(school_data_df["grade"] == "9th")]
grade_10 = school_data_df[(school_data_df["grade"] == "10th")]
grade_11 = school_data_df[(school_data_df["grade"] == "11th")]
grade_12 = school_data_df[(school_data_df["grade"] == "12th")]

In [36]:
# Group each series by school and take the mean of each.
ninth = grade_9.groupby(["school_name"]).mean()
tenth = grade_10.groupby(["school_name"]).mean()
eleventh = grade_11.groupby(["school_name"]).mean()
twelfth = grade_12.groupby(["school_name"]).mean()

In [37]:
# Use the code to select only the math score.
ninth_math = ninth["math_score"]
tenth_math = tenth["math_score"]
eleventh_math = eleventh["math_score"]
twelfth_math = twelfth["math_score"]

In [38]:
# Combine the series into a dataframe
math_scores = pd.DataFrame(
    {
        "9th": ninth_math, 
        "10th": tenth_math,
        "11th": eleventh_math, 
        "12th": twelfth_math
    }
)

In [39]:
#give the displayed data cleaner formatting
math_scores["9th"] = math_scores["9th"].map("{:,.2f}".format)
math_scores["10th"] = math_scores["10th"].map("{:,.2f}".format)
math_scores["11th"] = math_scores["11th"].map("{:,.2f}".format)
math_scores["12th"] = math_scores["12th"].map("{:,.2f}".format)

In [40]:
# Display the DataFrame
math_scores.index.name = None
math_scores

                         9th   10th   11th   12th
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

## Reading Score by Grade 
* Perform the same operations as above for reading scores

In [41]:
# Create a pandas series for each grade. Hint: use a conditional statement.
grade_9 = school_data_df[(school_data_df["grade"] == "9th")]
grade_10 = school_data_df[(school_data_df["grade"] == "10th")]
grade_11 = school_data_df[(school_data_df["grade"] == "11th")]
grade_12 = school_data_df[(school_data_df["grade"] == "12th")]

In [42]:
# Group each series by school and take the mean of each.
ninth = grade_9.groupby(["school_name"]).mean()
tenth = grade_10.groupby(["school_name"]).mean()
eleventh = grade_11.groupby(["school_name"]).mean()
twelfth = grade_12.groupby(["school_name"]).mean()

In [43]:
# Use the code to select only the reading score.
ninth_read = ninth["reading_score"]
tenth_read = tenth["reading_score"]
eleventh_read = eleventh["reading_score"]
twelfth_read = twelfth["reading_score"]

In [44]:
# Combine the series into a dataframe
reading_scores = pd.DataFrame(
    {
        "9th": ninth_read, 
        "10th": tenth_read,
        "11th": eleventh_read, 
        "12th": twelfth_read
    }
)

In [45]:
#give the displayed data cleaner formatting
reading_scores["9th"] = reading_scores["9th"].map("{:,.2f}".format)
reading_scores["10th"] = reading_scores["10th"].map("{:,.2f}".format)
reading_scores["11th"] = reading_scores["11th"].map("{:,.2f}".format)
reading_scores["12th"] = reading_scores["12th"].map("{:,.2f}".format)

In [46]:
# Display the DataFrame
reading_scores.index.name = None
reading_scores

                         9th   10th   11th   12th
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [47]:
## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [48]:
#bins and bin labels
spending_bins = [0, 583, 629, 644, 675]
spending_ranges = ['<$584', '$585-629', '$630-644', '$645-675']

#adding a column into school_summary_df
school_summary_df['Spending Ranges (Per Student)'] = pd.cut(school_summary_df['Per Student Budget'], spending_bins, labels = spending_ranges)

#grouping by spending ranges
spend_summary_df = school_summary_df.groupby('Spending Ranges (Per Student)')
spend_summary_df[["Average Math Score", "Average Reading Score", "Passing Math", "Passing Reading", "Overall Passing"]].first()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
Spending Ranges (Per Student),,,,,
<$584,83.06,83.98,94.13%,97.04%,91.33%
$585-629,77.05,81.03,66.68%,81.93%,54.64%
$630-644,76.71,81.16,65.99%,80.74%,53.20%
$645-675,77.29,80.93,66.75%,80.86%,53.53%

## Scores by School Size
* Perform the same operations as above, based on school size.

* Create a table that breaks down school performances based on School Size. Use 4 reasonable bins to group school population. 
* Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [49]:
bins = [0, 999, 2000, 3000]
ranges = ['<1000', '1001-2000', '2001-3000']

school_summary_df['School Size'] = pd.cut(school_summary_df['Total Students'], bins, labels = ranges)

size_summary_df = school_summary_df.groupby('School Size')
size_summary_df[["Average Math Score", "Average Reading Score", "Passing Math", "Passing Reading", "Overall Passing"]].first()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
School Size,,,,,
<1000,83.80,83.81,92.51%,96.25%,89.23%
1001-2000,83.06,83.98,94.13%,97.04%,91.33%
2001-3000,76.71,81.16,65.99%,80.74%,53.20%

## Scores by School Type
* Perform the same operations as above, based on school type

In [50]:
type_summary_df = school_summary_df.groupby('School Type')
type_summary_df[["Average Math Score", "Average Reading Score", "Passing Math", "Passing Reading", "Overall Passing"]].first()

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing
School Type,,,,,
Charter,83.06,83.98,94.13%,97.04%,91.33%
District,77.05,81.03,66.68%,81.93%,54.64%