In [8]:
# Dependencies and Setup
import pandas as pd

In [9]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_df = pd.DataFrame(school_data_complete)
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [30]:
# Check data types
school_data_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [31]:
# Count to check any missing data
school_data_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

## District Summary

 * Calculate the total number of schools

 * Calculate the total number of students

 * Calculate the total budget

 * Calculate the average math score 

 * Calculate the average reading score

 * Calculate the percentage of students with a passing math score (70 or greater)

 * Calculate the percentage of students with a passing reading score (70 or greater)

 * Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

 * Optional: give the displayed data cleaner formatting

In [29]:
school_count = len(school_data_df["school_name"].unique())
student_count = school_data_df["Student ID"].count()
school_budget = school_data_df["budget"].sum()
avg_math = school_data_df["math_score"].mean()
avg_read = school_data_df["reading_score"].mean()
math_70 = school_data_df[(school_data_df["math_score"]>=70)].count()["Student ID"]
read_70 = school_data_df[(school_data_df["reading_score"]>= 70).count()["Student ID"]
#both_70= school_data_df[(school_data_df["math_score"]>=70)] & school_data_df[(school_data_df["reading_score"]>= 70).count()["Student ID"]
pass_read = (read_70 / student_count)
pass_math = (math_70 / student_count) * 100
pass_both = (both_70 / student_count) * 100                         
district_df = pd.DataFrame({"Total Schools": [school_count],
                              "Total Students": [student_count],
                              "Average Math": [avg_math],
                               "Average Reading": [avg_read],
                              "Math 70": [math_70],
                              "Read 70": [read_70],
                              "Passing Reading Percentage": [pass_read],
                              "Passing Math Percentage": [pass_math],
                              "Passing Both Percentage": [pass_both]})
district_df

SyntaxError: invalid syntax (2630634351.py, line 9)

In [ ]:
read_70 = school_data_df.loc[(school_data_df["reading_score"] >= 70)
pass_read = read_70/student_count*100
pass_math =math_70/student_count*100
pass_both= 1
district_df = pd.DataFrame({"Total Schoolss": [school_count],
                              "Total Students": student_count,
                              "Average Math": avg_math,
                              "Average Reading": avg_read, 
                              "Students Passing Reading": pass_read, 
                              "Students Passing Math": pass_math,
                              "Students Passing Both": pass_both})

## School Summary

 * Create an overview table that summarizes key metrics about each school, including:
  * School Name
   * School Type
   * Total Students
   * Total School Budget
   * Per Student Budget
   * Average Math Score
   * Average Reading Score
   * % Passing Math
   * % Passing Reading
   * % Overall Passing (The percentage of students that passed math **and** reading.)
  
 * Create a dataframe to hold the above results

# Top Performing Schools (By % Overall Passing)
    * Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)
    * Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade 
* Perform the same operations as above for reading scores

In [ ]:
## Scores by School Spending

In [ ]:
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
## Scores by School Size
* Perform the same operations as above, based on school size.

In [ ]:
## Scores by School Type
* Perform the same operations as above, based on school type