In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_df = pd.DataFrame(school_data_complete)
school_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [22]:
# Check data types
#school_data_df.dtypes

In [23]:
# Count to check any missing data
#school_data_df.count()

# District Summary

 * Calculate the total number of schools

 * Calculate the total number of students

 * Calculate the total budget

 * Calculate the average math score 

 * Calculate the average reading score

 * Calculate the percentage of students with a passing math score (70 or greater)

 * Calculate the percentage of students with a passing reading score (70 or greater)

 * Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

 * Optional: give the displayed data cleaner formatting

In [5]:
#Calculate the total number of schools
school_count = len(school_data_df["school_name"].unique())

In [6]:
#Calculate the total number of students
student_count = school_data_df["Student ID"].count()

In [7]:
#Calculate the total budget
total_budget = school_data_df["budget"].sum()

In [8]:
#Calculate the average math score
avg_math = school_data_df["math_score"].mean()

In [9]:
#student_budget = school_budget / float(student_count)

In [10]:
#Calculate the average reading score
avg_read = school_data_df["reading_score"].mean()

In [11]:
#school_data_df[(school_data_df["math_score"]>=70)].count()[0]

In [12]:
#school_data_df.shape[0]

In [13]:
#Calculate the percentage of students with a passing math score (70 or greater)
math_pass = (school_data_df[(school_data_df["math_score"]>=70)].count()[0]/school_data_df.shape[0])*100

In [14]:
math_pass

74.9808526933878

In [15]:
#Calculate the percentage of students with a passing reading score (70 or greater)
read_pass = (school_data_df[(school_data_df["reading_score"]>=70)].count()[0]/school_data_df.shape[0])*100

In [16]:
read_pass

85.80546336482001

In [17]:
#Calculate the percentage of students who passed math and reading (% Overall Passing)
both_70 = (school_data_df[(school_data_df["math_score"] >= 70) & (school_data_df["reading_score"] >= 70)].count()[0]/school_data_df.shape[0])*100

In [18]:
both_70

65.17232575950983

In [19]:
#Create a dataframe to hold the above results
results_df = pd.DataFrame({'School Count': [school_count],'Student Count':[student_count],'Total Budget':[total_budget],'Average Math Score':[avg_math],'Average Reading Score':[avg_read],'Math Pass': [math_pass],'Read Pass': [read_pass],'Math and Reading Pass':[both_70]})

In [20]:
results_df

,School Count,Student Count,Total Budget,Average Math Score,Average Reading Score,Math Pass,Read Pass,Math and Reading Pass
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

 * Create an overview table that summarizes key metrics about each school, including:
  * School Name
   * School Type
   * Total Students
   * Total School Budget
   * Per Student Budget
   * Average Math Score
   * Average Reading Score
   * % Passing Math
   * % Passing Reading
   * % Overall Passing (The percentage of students that passed math **and** reading.)
  
 * Create a dataframe to hold the above results

In [ ]:
school_name_df = school_data_df.set_index("school_name")
school_name_df.head()

In [ ]:
group_school_name = school_name_df.groupby(["school_name", "type"])
group_school_name.count()

In [ ]:
#Total Students per School
tot_students_groupby_school = school_data_df.groupby("school_name")["student_name"].count()
tot_students_groupby_school

In [ ]:
#Total School Budget
tot_budget_groupby_school = school_data_df.groupby("school_name")["budget"].sum()
tot_budget_groupby_school

In [ ]:
#Per Student Budget
tot_student_budget_groupby_school = school_data_df.groupby("school_name")["budget"].sum() / school_data_df.groupby("school_name")["School ID"].count()
tot_student_budget_groupby_school

In [ ]:
#Average Math Score
avg_school_math_groupby = school_data_df.groupby("school_name")["math_score"].mean()
avg_school_math_groupby

In [ ]:
#Average Reading Score
avg_school_read_groupby = school_data_df.groupby("school_name")["reading_score"].mean()
avg_school_read_groupby

In [ ]:
#% Passing Math
#math_70 = school_data_df[(school_data_df["math_score"]>=70)].count()["student_name"]
pass_school_math_groupby = school_data_df[(school_data_df.groupby("school_name")["math_score"]>=70.count()["student_name"]
pass_school_math_groupby

In [ ]:
#% Passing Reading

In [ ]:
#% Overall Passing (The percentage of students that passed math and reading.)

In [ ]:
#Create a dataframe to hold the above results

# Top Performing Schools (By % Overall Passing)
    * Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)
    * Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade
* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade 
* Perform the same operations as above for reading scores

In [ ]:
## Scores by School Spending

In [ ]:
* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
## Scores by School Size
* Perform the same operations as above, based on school size.

In [ ]:
## Scores by School Type
* Perform the same operations as above, based on school type